*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100vw;
  min-height: 100vh;
  border: 15px solid white;
  overflow: hidden;
}

.bg{
  z-index: -1;
  position: absolute;
  inset: 0;
  max-width: 100vw;
  max-height: 100vh;
  border-left: 75vw solid #e4e3e3;
  border-right: 25vw solid white;
}

button, .button{
  padding: 20px 40px;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}